body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.navbar-style {
  background-color: #555;
  height: 2.5rem;
}

.nav-left a {
  margin-right: 1rem;
  color: #000;
}

.nav-icons {
  font-size: 32px;
}

.nav-icons a {
  margin-right: 1rem;
  text-decoration: none;
  color: #000;
}

.youtube-hover:hover {
  color: #f00;
}

.linkedin-hover:hover {
  color: #0077B5;
}

.header {
  margin-top: 2rem;
}

div.card {
  margin: auto;
  width: 250px;
  height: 400px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #000;
}

.card-avatar {
  margin: 1.5rem 0 .5rem;
  width: 80%;
  border-radius: 50%;
}

.card-icons a {
  color: #000;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 32px;
}